apiVersion: v1
kind: Secret
metadata:
  name: exoplanets
  labels:
    app: exoplanets
  annotations: 
    argocd.argoproj.io/sync-wave: "4"
stringData:
  DB_NAME: database
  DB_USER: user1
  DB_PASSWORD: password
  DB_ADMIN_PASSWORD: postgres
